.progressbar{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 900px;
}
.progressbar .card{
    position: relative;
    width: 150px;
    background: none;
    border: none;
}
.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg{
    position: relative;
    width:150px;
    height: 150px;
    z-index: 1000;
}
svg circle{
    width: 100%;
    height: 100%;
    fill:none;
    stroke: #fcfcfc;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}
svg circle:nth-child(2)
{
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
.card:nth-child(1) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 75) / 100);
    stroke: #f64b86;
    stroke-opacity: 0.8;
}
.card:nth-child(2) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
    stroke: #bc17f3;
}
.card:nth-child(3) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 95) / 100);
    stroke: #277ee6;
}
.card:nth-child(4) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 60) / 100);
    stroke: #4acbcb;
}
.card:nth-child(5) svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 85) / 100);
    stroke: #ffa67d;
}